<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.terrenprogramming.preservestate"
        version="0.2.0">

  <name>Preserve State</name>
  <license>MIT</license>
    <repo>https://github.com/terreng/cordova-plugin-preserve-state.git</repo>
    <issue>https://github.com/terreng/cordova-plugin-preserve-state/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/preservestate.js" target="js/preservestate.js"/>

  <js-module src="www/preservestate.js" name="preservestate">
    <clobbers target="preservestate" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Preservestate">
        <param name="android-package" value="com.terrenprogramming.plugin.Preservestate"/>
      </feature>
    </config-file>

    <source-file src="src/android/Preservestate.java" target-dir="src/com/terrenprogramming/plugin/"/>
  </platform>

</plugin>